@using BlazorServerApp.Authentication;
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Aplicación deber</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<AuthorizeView Roles="User">
    <Authorizing>
        <h1>...</h1>
    </Authorizing>
    <Authorized>
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Inicio
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/my-posts">
                        <span class="oi oi-plus" aria-hidden="true"></span> Mis Publicaciones
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/create-post">
                        <span class="oi oi-plus" aria-hidden="true"></span> Nuevo Post
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/advanced-search">
                        <span class="oi oi-plus" aria-hidden="true"></span> Búsqueda Avanzada
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/filtered-search">
                        <span class="oi oi-plus" aria-hidden="true"></span> Defensa
                    </NavLink>
                </div>
            </nav>
        </div>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Administrator">
    <Authorizing>
        <h1>...</h1>
    </Authorizing>

    <Authorized>
            <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Inicio
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/my-posts">
                        <span class="oi oi-plus" aria-hidden="true"></span>Mis Publicaciones
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/users">
                        <span class="oi oi-list" aria-hidden="true"></span> Publicaciones
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/users">
                        <span class="oi oi-list" aria-hidden="true"></span> Usuarios
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/register">
                        <span class="oi oi-plus" aria-hidden="true"></span> Crear usuario
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/create-post">
                        <span class="oi oi-plus" aria-hidden="true"></span> Nuevo Post
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/advanced-search">
                        <span class="oi oi-plus" aria-hidden="true"></span> Búsqueda Avanzada
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/filtered-search">
                        <span class="oi oi-plus" aria-hidden="true"></span> Búsqueda Avanzada
                    </NavLink>
                </div>
            </nav>
        </div>
    </Authorized>
</AuthorizeView>

@code {

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
