
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-overflow: clip;
    justify-content: center;
    text-align: center;
}

.token {
    word-break: break-all;
    display: inline-block;
    max-width: 100%;
    white-space: normal;
}
