.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.general-info-container {
    width: 50%;
    padding: 20px;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
}

.steps-container {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

input, select, button, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

select {
    appearance: none;
    background-color: #fff;
    cursor: pointer;
    padding-right: 25px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>'); /* Ícono de flecha hacia abajo */
    background-repeat: no-repeat;
    background-position: right 10px center;
}

    select:hover, input:hover, button:hover {
        border-color: #007BFF;
    }


button {
    background-color: #6c5ce7;
    color: white;
    cursor: pointer;
}

    button:hover {
        background-color: #4836d6;
    }

.add-step {
    background-color: #6edb7c;
}

.delete-step {
    background-color: #a69a9a;
}

.add-step button:hover {
    background-color: #47d159;
}

textarea {
    resize: vertical; /* Permite al usuario ajustar la altura del textarea */
    height: 100px; /* Altura inicial del textarea */
}


.material-container {
    margin: 0px 0px 20px 20px;
    border: solid 2px;
    border-radius: 5px;
    padding: 20px;
}

.material-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

    .material-row label {
        margin-right: 5px;
        white-space: nowrap;
    }

    .material-row input,
    .material-row select {
        flex-grow: 1;
        margin-right: 10px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .material-row span {
        margin: 0 5px;
    }

.delete-material {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

    .delete-material:hover {
        background-color: #ff3b3b;
    }
