@page "/register"
@page "/register/{UserId}"
@using BlazorServerApp.Controllers;
@using BlazorServerApp.Models;


<div class="container">
    <h2 class="title">@PageHeader</h2>

    <input @bind="user.Name" placeholder="Nombre" />
    <input @bind="user.Username" placeholder="Nombre de Usuario" />
    <input @bind="user.Email" type="email" placeholder="Email" />
    <input @bind="user.Password" type="password" placeholder="Contraseña" />
    <input @bind="user.Age" type="number" placeholder="Edad" />

    <button @onclick="RegisterOrEditUser">@SubmitButtonText</button>
</div>

@code {
    @inject NavigationManager NavManager
    @inject IToastService ToastService

    public string PageHeader = "Registrar Usuario";
    public string SubmitButtonText = "Registrarse";


    [Parameter]
    public string UserId { get; set; }

    private User user = new User();

    private UserController userController = new UserController();


    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrEmpty(UserId))
        {
            user = await userController.GetUserById(UserId);

            if (user == null) user = new User();

            PageHeader = "Modificar Usuario";
            SubmitButtonText = "Modificar";
        }
    }

    private async void RegisterOrEditUser()
    {

        if (string.IsNullOrEmpty(UserId))
        {
            var result = await userController.CreateUser(user);

            if (result)
                ToastService.ShowSuccess("Usuario Creado con éxito");
            else
                ToastService.ShowError("Error al crear el usuario");
        }
        else
        {
            var result = await userController.EditUser(user);

            if (result)
                ToastService.ShowSuccess("Usuario creado con éxito");
            else
                ToastService.ShowError("Error al modificar el usuario");
        }

        NavManager.NavigateTo("/login");
    }
}