@page "/users"

@using BlazorServerApp.Models
@using BlazorServerApp.Controllers

@inject NavigationManager NavManager
@inject IToastService ToastService

<h2>Lista de Usuarios</h2>

<table class="users-table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Username</th>
            <th>Email</th>
            <th>Edad</th>
            <th>Editar</th> 
            <th>Borrar</th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var user in users)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>@user.Age</td>
                <td>
                    <button class="edit-button" @onclick="(() => EditUser(user))">Editar</button>
                </td>
                <td>
                    <button class="delete-button" @onclick="(() => DeleteUser(user))">Borrar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {

    #region User properties Vars n Props

    private List<User> users = new List<User>();

    public UserController userController = new UserController();
    #endregion


    #region Events

    protected override async Task OnInitializedAsync()
    {
        users = await userController.GetAllUsers();
    }

    private void EditUser(User user)
    {
        NavManager.NavigateTo($"/register/{user.UserId}");
    }

    private async void DeleteUser(User user)
    {
        await userController.DeleteUser(user.UserId);
        
        NavManager.NavigateTo("/users", true);

        ToastService.ShowWarning("Se ha borrado el usuario");
    }
    #endregion
}