@page "/"
@using System.Globalization;
@attribute [Authorize]
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Home</PageTitle>

<div class="search-container">
    <input type="text" class="search-input" placeholder="Buscar..." />
    <button class="search-button">
        <i class="fas fa-search"></i> <!-- Asegúrate de tener FontAwesome o cualquier otra librería para iconos -->
    </button>
</div>

<div class="calendar-container">
    <div class="month-selector">
        <button class="month-nav" @onclick="PreviousMonth">❮</button>
        <span class="month-name">@CurrentMonthName.ToUpper()</span>
        <button class="month-nav" @onclick="NextMonth">❯</button>
    </div>
        <div class="days-grid">
        @for (int day = 1; day <= DateTime.DaysInMonth(CurrentYear, CurrentMonth); day++)
        {
            <button class="day">@day</button>
        }
    </div>
</div>

<BlazorServerApp.Pages.Post.ShowPosts></BlazorServerApp.Pages.Post.ShowPosts>

@code {
    private int CurrentMonth = DateTime.Now.Month;
    private int CurrentYear = DateTime.Now.Year;

    private string CurrentMonthName => new DateTime(CurrentYear, CurrentMonth, 1).ToString("MMMM", CultureInfo.CreateSpecificCulture("es"));

    private void PreviousMonth()
    {
        if (CurrentMonth == 1)
        {
            CurrentMonth = 12;
            CurrentYear--;
        }
        else
        {
            CurrentMonth--;
        }
    }

    private void NextMonth()
    {
        if (CurrentMonth == 12)
        {
            CurrentMonth = 1;
            CurrentYear++;
        }
        else
        {
            CurrentMonth++;
        }
    }
}